body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 7px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-left: 8px;
}

button:hover {
  background-color: #c3a995;
  color: #ffffff;
  cursor: pointer;
}

li {
  height: 30px;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.input-area {
  background-color: #e8d7ff;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  background-color: #dfffd6;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffd3e8;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666666;
}
